/*reset */
* {
    box-sizing: border-box;
}

/* styling of whole webpage */
body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

/* styling of introduction */
.introduction{
    z-index: 2;
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    background-color: aquamarine;
    border: 3px solid green;
    text-align: center;
}

/* styling of the introduction title */
.introduction_title{
    margin: 50px 0;
}
.introduction_title_item{
    font-size: 3rem;
}

/*styling of the introduction description */
.introduction_description{
    font-size: 1.3rem;
}

.introduction_description_item{
    margin: 50px 50px;
}

/*styling of the introduction button */
.introduction_button{
    font-size: 1.3rem;
    letter-spacing: 2px;
    background-color: darkcyan;
    border: 1px solid darkblue;
    width: 200px;
    height: 50px;
}

/* styling if the game part */
.flex-container{
    z-index: 1;
}

/* styling of board */
#board {
    margin: 50px auto 0;
    min-height: 100px;
    min-width: 100px;
    position: relative;
}

/* styling of board elements */
#board div {
    width: 10px;
    height: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    float: left;
}

/* styling of board elements - styling of living cell */
#board div.live {
    background-color: #000000;
}

/* styling of game menu containing play and pause buttons */
#game-menu {
    margin: 50px auto;
    width: auto;
    position: absolute;
    left: 50%;
}